<% layout("/layouts/boilerplate") -%>
<body>
  <div class="row">
    <div class="col-8 offset-2">
      <br /><br />
      <h3>Edit your listing</h3>
      <form
        method="POST"
        action="/listings/<%=listing._id%>?_method=PUT"
        class="needs-validation"
        novalidate
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            class="form-control"
            name="listing[title]"
            value="<%=listing.title%>"
            required
          />
          <div class="invalid-feedback">Enter a valid title!</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            type="text"
            class="form-control"
            name="listing[description]"
            cols="40"
            rows="5"
            required
          >
<%=listing.description%></textarea
          >
          <div class="invalid-feedback">Enter a valid description!</div>
        </div>
        <div class="mb-3">
          <p>Original Listing image</p>
          <img style="width:250px;" src="<%=originalImageUrl%>" alt="">
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Upload New Image</label>
          <input type="file" class="form-control" name="listing[image]" />
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Price</label>
          <input
            typ="number"
            class="form-control"
            name="listing[price]"
            value="<%=listing.price%>"
            required
          />
          <div class="invalid-feedback">Enter a valid price!</div>
        </div>
        <div class="mb-3">
          <label for="country" class="form-label">Country</label>
          <input
            type="text"
            class="form-control"
            name="listing[location]"
            value="<%=listing.location%>"
            required
          />
          <div class="invalid-feedback">Enter the country name</div>
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            type="text"
            class="form-control"
            name="listing[country]"
            value="<%=listing.country%>"
            required
          />
          <div class="invalid-feedback">Enter a valid location</div>
        </div>
        <button class="btn btn-dark add-btn">Edit</button>
        <br /><br />
      </form>
    </div>
  </div>
</body>
